 $tileSize: 100px;

 .game {
     height: $tileSize * 5;
     width: $tileSize * 4;
     display: flex;
     flex-flow: row wrap;
     align-content: stretch;
     justify-content: space-between;
     margin: 50px;
 }

 #time,
 #steps {
     margin-bottom: 5px;
     padding: 0px 5px 0px 5px;
     font-size: 1rem;
     color: black;
     height: 1.5rem;
     width: 40%;
     border: 1px gray solid;
 }

 #steps {
     text-align: right;
 }

 #title {
     font-size: 2rem;
     font-weight: 700;
     font-family: sans-serif;
     width: 100%;
     text-align: center;
 }

 .board {
     height: $tileSize * 4;
     width: $tileSize * 4;
     margin: auto auto;
     position: relative;
 }

 .tile {
     margin: 0px;
     padding: 0px;
     width: $tileSize;
     height: $tileSize;
     cursor: pointer;
     transition: transform 0.5s linear;
     position: absolute;
     overflow: hidden;

     &:hover {
         -webkit-filter: brightness(120%);
         filter: brightness(120%);
     }

     &+img {
         display: block;
         width: $tileSize * 4;
         height: $tileSize * 4;
         margin: 0px;
         padding: 0px;
     }

     &.last {
      opacity: 0;
      cursor: not-allowed;
    }
 }



 .won {
     height: 20%;
     width: 80%;
     margin: 10%;
     top: $tileSize * 1.2;
     font-size: 3rem;
     font-weight: 700;
     color: white;
     background-color: green;
     border-radius: 10px;
     text-align: center;
     position: absolute;
     z-index: 10;
 }

 button {
     align-content: center;
     width: 70%;
     margin: 3px 15% 3px 15%;
     background-color: black;
     color: white;
 }